{% extends 'mysite/header-linia-trad.html' %}

{% block content %}
<section class="home-hero">
    <div class="about-about-textbox">
        <h1>Cine sunt</h1>
        <p>Originara din localitatea Salva, Bistrita-Nasaud, Virginia Linul-cunoscuta pretutindeni pentru portul nasaudean, creat si imbogatit de multe generatii ale familiei mele.</p>
        <p><strong>Activitatea si preocuparile noastre de zi cu zi, direct legate de cultura traditionala, ne-au permis o buna cunoastere a subiectului, dar au si dat nastere unei dorinte puternice de a conserva si proteja toate aceste valori.</strong></p>
    </div>
</section>        

            

{% endblock %}





