{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="viewport" content="width-device-width, initial-scale-1">
    <title>Danny Scratch</title>
    
    <link href='../../static/mysite/css/mystyle1.css' rel="stylesheet" type="text/css">

    
</head>
<body>

<header>
    <img src='../../static/mysite/img/logo_linia_traditionala.png'  width="110" height="110" alt="DannysLogo" class="logo">
    <nav>
        <ul>
            <li><a href=".././linia-traditionala1">Home</a></li>
            <li><a href=".././about">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>


{% block content %}

{% endblock %}
       


</body>
</html>