{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="view[prt" content="width-device-width, initial-scale-1">
    <title>Danny Scratch</title>
    <link href='../../static/mysite/css/mystyle1.css' rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <img src='../../static/mysite/img/logo_linia_traditionala.png'  width="110" height="110" alt="DannysLogo" class="logo">
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="home-hero">
    <div class="container">
        <h1 class="title">Virginia Linul
            <span>Creator de arta traditionala</span>
        </h1>
        <a href="" class="button button-accent">See our work!</a>
    </div>
</section>

<section class="home-about">
    <div class="home-about-textbox">
        <h1>Cine sunt</h1>
        <p>Originara din localitatea Salva, Bistrita-Nasaud, Virginia Linul-cunoscuta pretutindeni pentru portul nasaudean, creat si imbogatit de multe generatii ale familiei mele.</p>
        <p><strong>Activitatea si preocuparile noastre de zi cu zi, direct legate de cultura traditionala, ne-au permis o buna cunoastere a subiectului, dar au si dat nastere unei dorinte puternice de a conserva si proteja toate aceste valori.</strong></p>
    </div>
</section>

<section class="portofolio">

    <h1>Proiectele mele</h1>
    <!-- portofolio item 01 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/ansamblu01.JPG" alt="portofolio item">
        <figcaption class="port-desc">
            <p>ANSAMBLURI FOLCLORICE</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 02 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/DESIGNER 01.jpg" alt="portofolio item">
        <figcaption class="port-desc">
            <p> COLABORARE CU DESIGNERUL FRANCEZ PHILIPPE GUILET</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 03 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/costume 01.JPG" alt="portofolio item">
        <figcaption class="port-desc">
            <p>COSTUME POPULARE</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 04 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/LINIA TRADITIONALA 01.JPG" alt="portofolio item">
        <figcaption class="port-desc">
            <p>LINIA TRADITIONALA</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 05 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/CARTEA RECORDURILOR.JPG" alt="portofolio item">
        <figcaption class="port-desc">
            <p>INTRAREA IN CARTEA RECORDURILOR</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

</section>

<footer>
<div class="col-3">
    <p>Shoreditch bespoke leggings, tote bag williamsburg woke retro readymade scenester brunch art party farm-to-table
    pug. Wayfarers lyft prosm, edison bulb distillery pok pok narwhal pinterest poke.</p>
    </div>

    <div class="col-1">
    <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Shoreditch</li>
        <li>Woke Retro</li>
        <li>Readymade</li>
        <li>Scenester</li>
    </ul>
    </div>

    <div class="col-1">
        <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Shoreditch</li>
        <li>Woke Retro</li>
        <li>Readymade</li>
        <li>Scenester</li>
    </ul>
    </div>

    <div class="col-1">
        <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Shoreditch</li>
        <li>Woke Retro</li>
        <li>Readymade</li>
        <li>Scenester</li>
    </ul>
    </div>
</footer>
</body>
</html>