{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="view[prt" content="width-device-width, initial-scale-1">
    <title>Danny Scratch</title>
    <link href='../../static/mysite/css/mystyle1.css' rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <img src='../../static/mysite/img/logo_linia_traditionala.png'  width="110" height="110" alt="DannysLogo" class="logo">
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="home-hero">
    <div class="container">
        <h1 class="title">Virginia Linul
            <span>Creator de arta traditionala</span>
        </h1>
        <a href="" class="button button-accent">See our work!</a>
    </div>
</section>

<section class="home-about">
    <div class="home-about-textbox">
        <h1>Who we are</h1>
        <p> Sit by the fire dring water out ot the faucet hide head under blanket so no one can see cat is love,
            cat is life. Knock dish off table eating always hungry so favor packaging over toy</p>
        <p><strong>Rub face on owner. Perr out window, chatter at birds, lure them to mouth. Chase all of string eat a plant,
            kill a hand, I am the best to have a secret.</strong></p>
    </div>
</section>

<section class="portofolio">

    <h1>Some of our works</h1>
    <!-- portofolio item 01 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/2-Prince_Broadway.jpg" alt="portofolio item">
        <figcaption class="port-desc">
            <p>Project title</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 02 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/3-youth_mercer_street.jpg" alt="portofolio item">
        <figcaption class="port-desc">
            <p>Project title</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 03 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/4-skateboarder.jpg" alt="portofolio item">
        <figcaption class="port-desc">
            <p>Project title</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 04 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/Street_photography_settings-1.jpg" alt="portofolio item">
        <figcaption class="port-desc">
            <p>Project title</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

    <!-- portofolio item 05 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/jodenbreestraat2014.jpg" alt="portofolio item">
        <figcaption class="port-desc">
            <p>Project title</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

        <!-- portofolio item 06 -->
    <figure class="port-item">
        <img src="../../static/mysite/img/January_2013_Portland_Maine_DSC1973%20By%20Corey%20Templeton%20Congress%20Street%20People%20Winter.jpg" alt="portofolio item">
        <figcaption class="port-desc">
            <p>Project title</p>
            <a href="" class="button button-accent button-small">Project Details</a>
        </figcaption>
    </figure>

</section>

<footer>
<div class="col-3">
    <p>Shoreditch bespoke leggings, tote bag williamsburg woke retro readymade scenester brunch art party farm-to-table
    pug. Wayfarers lyft prosm, edison bulb distillery pok pok narwhal pinterest poke.</p>
    </div>

    <div class="col-1">
    <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Shoreditch</li>
        <li>Woke Retro</li>
        <li>Readymade</li>
        <li>Scenester</li>
    </ul>
    </div>

    <div class="col-1">
        <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Shoreditch</li>
        <li>Woke Retro</li>
        <li>Readymade</li>
        <li>Scenester</li>
    </ul>
    </div>

    <div class="col-1">
        <ul class="unstyled-list">
        <li><strong>Shoreditch</strong></li>
        <li>Shoreditch</li>
        <li>Woke Retro</li>
        <li>Readymade</li>
        <li>Scenester</li>
    </ul>
    </div>
</footer>
</body>
</html>