
* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-left: 1rem;
}

.container {
    width: 95%;
    /* height: 85%; */
    margin: 0 auto;
    /* background-color:rgb(85, 83, 83); */
       
  
}

/* typography
=============== */

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
        
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

@media (min-width:60rem ) {
    .title {
        font-size: 3.7rem;
        padding: .5em 1.75em;
    }
}

@media (max-width:1366px ) {
    .title {
        font-size: 2.5rem;
        padding: .5em 1.75em;
    }
}


/* buttons */

.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.5rem;
        /* margin-top: 17rem; */
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
    
}

.button-accent {
    color: rgb(23, 3, 134);
    border-color: rgb(23, 3, 134);
    
}

.button-accent:hover,
.button-accent:focus {
    background: #f0f1f1;
    color: rgb(23, 3, 134);
   
}



@media (max-width: 1366px) {
    .button {
        font-size: 1.5rem;
      /*  margin-top: 10rem; */
    }
}

/* header
============== */

header {
   /*position: absolute;*/
   left: 0;
   right: 0;
   /* margin-top: 10 em;*/
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .5em;
    color: rgb(23, 3, 134);
}

nav a:hover,
nav a:focus {
    color: rgb(82, 69, 107);
}

@media (min-width:60rem ) {
    .logo {
        float: left;
    }

    nav {
        float: right;
    }
}

/* home-hero
============== */

.home-hero {

    background-image:  url(../img/motivPopular02.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: rgb(23, 3, 134);
    
}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top: 7vh;
    }
}


@media (max-width: 992px) {
    .home-hero {
        height: 100vh;
        padding-top: 3vh;
    }
}

.home-about-textbox {
    background-color: #bcbdbe;
    padding: 4em;
    width: 100vw;
    outline: 2px solid rgb(23, 3, 134);
    outline-offset: -1em;
    color: rgb(23, 3, 134);
    position: relative;
    font-size: 1.5em;
}

.home-about-textbox h1 {
    color: rgb(23, 3, 134);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1.5em;
    background: #bcbdbe;
    padding: 0 .25em;
}

/* portfolio */

.portfolio {
    margin: 3em 0;
}

.port-item {
    margin: 0;
    position: relative;
}

.port-item img {
    display: block;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgb(0,0,0,.6);
    padding-bottom: 2em;
    
}

.port-desc p {
    margin: 1;
}

@media (min-width: 37rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .port-item {
        width: 33.333334%;
        overflow: hidden;
    }
}

.port-desc {
    transform: translateY(150%);
}

.port-item:hover .port-desc {
    transform: translateY(0%);
}

/* portfolio for laptop 


.port-item {
    margin: 0em;
    position: relative;
}

.port-item img {
    display: block;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgb(0,0,0,.6);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;

}
*/


/* portfolio for desktop 

@media (min-width: 37rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .port-item {
        width: 33.3333334%;
    }

    .port-desc {
        transform: translateY(150%);
    }

    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}  */
